{{#
    @name Button attributes
    @desc A single button component. Faux is used when a button is displayed inside a link (for example in link blocks).
    @param* label The caption label.
    @param as The wrapping element. Defaults to `a`.
    @param button_type `Inline` if the button needs to be rendered as an inline button.
    @param faux Boolean. For faux button wrapped in an actual button/anchor.
    @param inverted Boolean. When the button needs inverted styles.
#}}

<!-- /components/_button.antlers.html -->
{{ if label }}
    <button
        {{ cssid ?= "id='{cssid}'" }}
        {{ slot }}
        {{ partial:snippets/button_attributes }}
        data-btntype="{{ type ?? "lined" }}"
        class="relative flex gap-2.5 rounded py-1 items-center uppercase whitespace-nowrap transition group
        {{ big ? 'text-buttonbig' : 'text-button' }}
        {{ type == 'solid' ? 'bg-dark hover:bg-dark-neutral' : '' }}
        {{ type == 'underline' ? 'text-buttonunderline px-1 before:border-b-2 before:absolute before:bottom-0 before:w-full hover:before:scale-x-50 before:duration-500 before:transition rounded-none' : 'px-2.5' }}
        {{ class }}">

        {{# button text #}}
        <div class="transition duration-500 group-hover:scale-95 pt-0.5">
            {{ link_type == 'email' ? { label | obfuscate_email } : label }}
        </div>
        
        {{# button icon #}}
        {{ icon ?= '<div data-icon="{{icon}}" class="h-[1em] aspect-square bg-current"></div>' }}
        
        {{# svg outline for lined button #}}
        {{ !type ?= {{ svg:bg class="absolute inset-0 w-full h-full transition duration-500 pointer-events-none btn-bg" aria-hidden="true" }} }}
    </button>
{{ /if }}
<!-- End: /components/_button.antlers.html -->
