{{#
    @name Button attributes
    @desc A single button component. Faux is used when a button is displayed inside a link (for example in link blocks).
    @param* label The caption label.
    @param as The wrapping element. Defaults to `a`.
    @param button_type `Inline` if the button needs to be rendered as an inline button.
    @param faux Boolean. For faux button wrapped in an actual button/anchor.
    @param inverted Boolean. When the button needs inverted styles.
#}}

<!-- /components/_button.antlers.html -->
{{ if label }}
    <{{ as or 'button' }}
        {{ slot:attributes }}
        class="flex gap-2.5 border-2 rounded py-1 px-2.5 items-center uppercase whitespace-nowrap group hover:scale-105 hover:bg-light transition-all
        {{ big ? 'text-buttonbig' : 'text-button' }}
        {{ solid ?= 'bg-red' }}
        {{ class }}"
        {{ partial:snippets/button_attributes }}
    >
        {{# button text #}}
        <div class="transition-all duration-700 origin-left group-hover:scale-90 group-hover:text-dark">
            {{ link_type == 'email' ? { label | obfuscate_email } : label }}
        </div>
        
        {{# button icon #}}
        {{ if icon }}
            <div class="h-[1em] aspect-square transition-all duration-700 origin-center group-hover:scale-110 group-hover:translate-x-0.5 group-hover:text-dark">
                {{ svg:{{ icon }} class="w-full h-full" aria-hidden="true" }}
            </div>
        {{ /if }}
    </{{ as or 'button' }}>
{{ /if }}
<!-- End: /components/_button.antlers.html -->
