{{#
    @name Button attributes
    @desc A single button component. Faux is used when a button is displayed inside a link (for example in link blocks).
    @param* label The caption label.
    @param as The wrapping element. Defaults to `a`.
    @param button_type `Inline` if the button needs to be rendered as an inline button.
    @param faux Boolean. For faux button wrapped in an actual button/anchor.
    @param inverted Boolean. When the button needs inverted styles.
#}}

<!-- /components/_button.antlers.html -->
{{ if label }}
    <{{ as or 'button' }}
        {{ cssid ?= "id='{cssid}'" }}
        {{ slot }}
        {{ slot:attributes }}
        class="text-light hover:text-green relative flex gap-2.5 rounded py-1 px-2.5 items-center uppercase whitespace-nowrap transition group
        {{ big ? 'text-buttonbig' : 'text-button' }}
        {{ solid ?= 'bg-red' }}
        {{ class }}"
        {{ partial:snippets/button_attributes }}
    >
        {{# button text #}}
        <div class="transition duration-500 group-hover:scale-95 pt-0.5">
            {{ link_type == 'email' ? { label | obfuscate_email } : label }}
        </div>
        
        {{# button icon #}}
        {{ if icon }}
            <div data-icon="{{icon}}" class="h-[1em] aspect-square bg-current"></div>
        {{ /if }}
            
        {{ svg:bg class="absolute inset-0 w-full h-full transition duration-500 btn-bg" aria-hidden="true" }}

    </{{ as or 'button' }}>
{{ /if }}
<!-- End: /components/_button.antlers.html -->
