{{#
    @name Layout
    @desc The default layout file.
#}}

<!-- /layout.antlers.html -->
<!doctype html>
<html lang="{{ site:short_locale }}" class="antialiased">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        {{ partial:statamic-peak-seo::snippets/seo }}
        {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
        {{ partial:statamic-peak-tools::snippets/live_preview }}
    </head>
    

    <body class="relative w-full h-full bg-dark selection:bg-yellow selection:text-dark">
        {{ partial:statamic-peak-tools::snippets/noscript }}
        {{ partial:statamic-peak-tools::components/toolbar }}
        {{ yield:seo_body }}

        {{# {{ partial:layout/preloader }} #}}
        {{ partial:navigation/main }}
        {{ template_content }}
        {{ partial:layout/background }}
        {{ partial:layout/dotgrid }}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>   
    </body>
</html>
<!-- End: /layout.antlers.html -->