{{#
    @name Layout
    @desc The default layout file.
#}}

<!-- /layout.antlers.html -->
<!doctype html>
<html lang="{{ site:short_locale }}" class="antialiased">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        {{ yield:scripts }}
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        {{ partial:statamic-peak-seo::snippets/seo }}
        {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
        {{ partial:statamic-peak-tools::snippets/live_preview }}
   
         <!-- Matomo -->
         <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//tracking.tyfte.studio/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
    
    
    </head>
    

    <body style="--usercolor: {{ accent_color | hex2rgb }}" x-data="{ slideOverOpen: false, formOpen: false, formStep: 1,}" class="relative bg-dark selection:bg-yellow selection:text-dark">
        {{ partial:statamic-peak-tools::snippets/noscript }}
        {{ partial:statamic-peak-tools::components/toolbar }}
        {{ yield:seo_body }}

        {{ if environment != 'local' }}
            {{ partial:layout/preloader }}
        {{ /if }}
        {{ partial:navigation/main }}
        {{ template_content }}
        {{ partial:layout/background }}
    </body>
</html>
<!-- End: /layout.antlers.html -->

