{{#
    @name Background FX
    @desc The sites background wrapper for alle the effects
#}}

<!-- /layout/_background.antlers.html -->

{{# video tint for work section #}}
<div id="work-tint" class="fixed inset-0 w-full h-full pointer-events-none -z-10 opacity-80"></div>

{{# dotgrid #}}
<div data-dotgrid class="fixed inset-0 pointer-events-none -z-20" id="dotgrid"></div>
<div data-dotgrid class="fixed inset-0 pointer-events-none -z-20" id="dotgridBig"></div>

{{# bg video wrapper #}}
<video data-dashjs-player
    id="hero-bg-video"
    class="fixed top-0 object-cover w-full h-full -z-30 mix-blend-lighten opacity-90"
    width="100%" height="100%"
    muted playsinline loop autoplay
    src="{{ background_video }}">
</video>

{{# grain #}}
<div id="background" class="fixed inset-0 pointer-events-none mix-blend-multiply opacity-10 bg-grain"></div>

<!-- End: /layout/_background.antlers.html -->
