{{#
    @name Background FX
    @desc The sites background wrapper for alle the effects
#}}

<!-- /layout/_background.antlers.html -->

{{# container for cats #}}
<div id="lovecontainer" class="fixed inset-0 w-full h-full pointer-events-none z-900"></div>

{{# video tint for work section #}}
<div id="work-tint" class="fixed inset-0 w-full h-full pointer-events-none -z-10 opacity-80"></div>

{{# mouse follower #}}
<div class="fixed inset-0 pointer-events-none -z-0 mix-blend-color-burn">
    <div id="mouseFollower" class="absolute overflow-hidden -translate-x-1/2 -translate-y-1/2 rounded-full opacity-50 border-purple-dark touch:hidden w-96 h-96 bg-purple-dark"></div>
</div>

{{# dotgrid #}}
<div data-dotgrid class="fixed inset-0 pointer-events-none -z-20" id="dotgrid"></div>
<div data-dotgrid class="fixed inset-0 pointer-events-none -z-20" id="dotgridBig"></div>

{{# bg video wrapper #}}
<video id="hero-bg-video" muted playsinline loop autoplay class="fixed top-0 object-cover w-full h-full -z-30 mix-blend-lighten opacity-90" width="100%" height="100%">
    <source src="{{ background_video:url | remove_right('.mp4') | ensure_right('.webm') }}" type="video/webm">
    <source src="{{ background_video:url | remove_right('.webm') | ensure_right('.mp4') }}" type="video/mp4">
</video>

{{# grain #}}
<div id="background" class="fixed inset-0 pointer-events-none mix-blend-multiply opacity-10 bg-grain"></div>

<!-- End: /layout/_background.antlers.html -->
