{{#
    @name Footer
    @desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<footer class="flex flex-col items-center justify-center w-full h-64 gap-4 sm:gap-8 sm:h-30 sm:flex-row p-frame sm:-mt-30">
    {{ partial:components/button as="a" class="text-dark hover:text-light" type="underline" label="imprint" link_type="url" url="/imprint" }}

    {{ partial:components/button as="a" class="text-dark hover:text-light" type="underline" label="privacy" link_type="url" url="/privacy" }}

    {{ partial:components/button as="a" class="text-dark hover:text-light" type="underline" label="send a mail" icon="arrdown" link_type="email" email="hello@tyfte.de" }}
</footer>
<!-- End: /layout/_footer.antlers.html -->
