{{#
    @name Footer
    @desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<footer class="flex flex-col items-center justify-center w-full gap-4 sm:gap-8 sm:flex-row p-frame {{ class }} mix-blend-color-burn z-10 translate-z-0">
    {{ partial:components/button as="a" class="text-usercolor hover:text-light" type="underline" label="imprint" link_type="url" url="/imprint" }}

    {{ partial:components/button as="a" class="text-usercolor hover:text-light" type="underline" label="privacy" link_type="url" url="/privacy" }}

    {{# {{ partial:components/button as="a" class="text-usercolor hover:text-light" type="underline" label="send a mail" icon="arrdown" link_type="email" email="hello@tyfte.de" }} #}}

    {{# the emboed but its ugly #}}
    {{# {{ partial:components/mailchimp }} #}}

     {{ partial:components/button as="a" class="text-usercolor hover:text-light" type="underline" label="newsletter" icon="arrup" link_type="url" url="https://mailchi.mp/37227e603d0a/form" }}
    
</footer>
<!-- End: /layout/_footer.antlers.html -->
