{{#
    @name Footer
    @desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<footer class="flex justify-center w-full gap-8 p-frame">
    {{ partial:components/button as="a" class="text-dark hover:text-light" type="underline" label="imprint" link_type="url" url="/imprint" }}

    {{ partial:components/button as="a" class="text-dark hover:text-light" type="underline" label="privacy" link_type="url" url="/privacy" }}

    {{ partial:components/button as="a" class="text-dark hover:text-light" type="underline" label="send a mail" icon="arrdown" link_type="email" email="hello@tyfte.de" }}
</footer>
<!-- End: /layout/_footer.antlers.html -->
