{{#
    @name Preloader
    @desc The sites preloader rendered on each page.
#}}

<!-- /layout/_preloader.antlers.html -->

{{# screen height wrapper #}}

{{# container fixed height #}}
<div class="fixed inset-0 w-screen h-screen pointer-events-none z-900">

    {{# container dynamic height #}}
    <div class="flex items-center justify-center w-full h-screen-d bg-dark" id="preloader">
    
        {{# container preloader #}}
        <img class="h-12 mix-blend-lighten" src="/files/gif/tyfte_logo_preloader.gif" alt="Tyfte Spinning Logo">
    </div>
</div>

<!-- End: /layout/_preloader.antlers.html -->
