{{#
    @name Section contact
    @desc a section wrapped in the main element from pages/contact.antlers.html
#}}

<!-- sections/contact.antlers.html -->
{{ partial:layout/section anchor="contact" class="relative flex flex-col items-center justify-center min-h-screen overflow-hidden p-frame-3" }}
    {{# 2 column grid contact #}}
    <div class="grid sm:grid-cols-2 max-xs:mb-32">
        
        {{# buttons and CTAs #}}
        <div class="flex flex-col items-center sm:items-start xl:max-w-[44ch] 2xl:max-w-[64ch] col-start-2 gap-4 mix-blend-color-burn translate-z-0">
            <h1 class="mb-12 text-head-1 text-usercolor">Drop us a line or fill out our survey.</h1>
            
            {{# survey  #}}
            {{ partial:components/button class="text-usercolor hover:text-dark" label="start survey" icon="arrup" }}
                @click.prevent="slideOverOpen = true, formOpen = true, formStep = 1"
            {{ /partial:components/button }}
            
            {{# write an email  #}}
            {{ partial:components/button class="text-usercolor hover:text-dark" as="a" link_type="email" email="hello@tyfte.de" label="write mail" icon="email" }}

        </div>
        
        <img id="contactBg" src="/images/abstract-bg.png" class="absolute left-0 pointer-events-none translate-z-0 top-1/4 -translate-x-1/4 mix-blend-soft-light" aria-hidden="true" alt="">
    </div>
    
    {{ partial:layout/footer class="absolute bottom-0 left-0 right-0" }}
{{ /partial:layout/section }}
<!-- End: sections/contact.antlers.html -->