{{#
    @name Section hero
    @desc a section wrapped in the main element from pages/hero.antlers.html
#}}

<!-- sections/hero.antlers.html -->
{{ partial:layout/section  class="" }}
    <div data-trigger="hero" class="relative grid items-end w-screen gap-frame-3 sm:gap-4 grid-rows-hero sm:grid-cols-hero p-frame sm:h-screen-d">
            
        {{# header with headline and tags #}}
        <div class="z-10 flex flex-col justify-end gap-4">
            {{# tag wrapper #}}
            {{ partial:components/tags class="flex" }}
                {{ partial:components/tag text="The yellow from the egg" url="/" class="bg-yellow" }}
                {{ partial:components/tag text="The last team you need" url="/" class="bg-yellow" }}
            {{ /partial:components/tags }}
            
            {{# Headline #}}
            <h1 class="text-left text-dark">
                Studio for artisan<br class="max-md:hidden">
                <span class="font-mono text-yellow">digital design</span> from<br class="max-md:hidden">
                Berlin with {{ partial:components/button cssid="love" class="relative inline-flex top-[-.2em] text-yellow hover:text-light" label="love" icon="hearth" big="true" }}
            </h1>
        </div>

        {{# cta wrapper #}}
        <div data-trigger="hero-cta" class="z-10 hidden w-64 sm:block text-dark">
            <p class="mb-4">Start you project right away and fill out or 5 minute survey.</p>
            {{ partial:components/button class="text-dark hover:text-green" type="underline" label="start survey" icon="arrdown" }}
                @click.prevent="slideOverOpen = true"
            {{ /partial:components/button }}
        </div>
        
        {{# bg video and gradient animation #}}
        <div data-trigger="hero-bgwrap" class="absolute top-0 w-full h-full z-behind mix-blend-lighten">
            
            {{# video wrapper #}}
            <video data-dashjs-player
                id="hero-video"
                class="absolute object-cover w-full h-full mix-blend-lighten"
                width="100%" height="100%"
                muted playsinline loop autoplay
                src="{{video}}">
            </video>

            {{# video tint #}}
            <div id="hero-bg-video-tint" class="fixed inset-0 z-10 w-full h-full pointer-events-none opacity-80"></div>

            {{# bg video wrapper #}}
            <video data-dashjs-player
                id="hero-bg-video"
                class="fixed top-0 object-cover w-full h-full mix-blend-lighten opacity-90"
                width="100%" height="100%"
                muted playsinline loop autoplay
                src="files/videos/background/tyfte_hero_bg.mpd">
            </video>
            
        </div>

    </div>
{{ /partial:layout/section }}
<!-- End: sections/hero.antlers.html -->