{{#
    @name Section hero
    @desc a section wrapped in the main element from pages/hero.antlers.html
#}}

<!-- sections/hero.antlers.html -->
{{ partial:layout/section }}
    
    {{# outer container fixed height #}}
    <div class="h-screen">
        
        {{# inner container dynamic height #}}
        <div class="relative grid items-end w-screen grid-rows-1 duration-500 transition-height gap-frame-3 sm:gap-4 sm:grid-cols-hero p-frame h-screen-d">
        
            {{# header with headline and tags #}}
            <div class="flex flex-col justify-end gap-4">
                {{# tag wrapper #}}
                {{ partial:components/tags class="flex" }}
                    {{ partial:components/tag text="The yellow from the egg" url="/" class="bg-yellow" }}
                    {{ partial:components/tag text="The last team you need" url="/" class="bg-yellow" }}
                {{ /partial:components/tags }}
        
                {{# Headline #}}
                <h1 class="z-10 text-left text-dark text-head-0">
                    Crafting <span class="font-mono text-yellow">eggceptional</span> <br class="max-md:hidden">
                    digital products.
                </h1>
            </div>
            
            {{# cta wrapper #}}
            <div class="z-10 hidden w-64 text-dark sm:block">
                <p class="mb-4">Start your project right away and fill out our 5 minute survey.</p>
                {{ partial:components/button class="text-dark hover:text-green" type="underline" label="start survey" icon="arrdown" }}
                    @click.prevent="slideOverOpen = true, formOpen= true"
                {{ /partial:components/button }}
            </div>
        
            {{# hero video #}}
            <video
                muted playsinline loop autoplay id="hero-video" class="absolute object-cover w-full h-full mix-blend-lighten" width="100%" height="100%">
                <source src="{{ video:url | remove_right('.mp4') | ensure_right('.webm') }}" type="video/webm">
                <source src="{{ video:url | remove_right('.webm') | ensure_right('.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
{{ /partial:layout/section }}
<!-- End: sections/hero.antlers.html -->