{{#
    @name Section info
    @desc a section wrapped in the main element from pages/info.antlers.html
#}}

<!-- sections/info.antlers.html -->
{{ partial:layout/section  class="flex-col items-start justify-end min-h-screen gap-8 p-frame-3" }}
    <h2 class="text-subhead-accordion max-w-[32ch] text-purple mix-blend-color-burn">Ideation</h2>
    <p class="text-lead-1 text-[2.8rem] max-w-[32ch] text-purple mix-blend-color-burn">Ganzheitliches Webdesign aus Berlin mit Herz. Bei uns beginnt alles mit der Idee. Wir entwickeln kreative Konzepte und Strategien, um Ihre Vision zu realisieren. Dann gehen wir in die Planung, um alle Schritte detailliert zu durchdenken, von der Informationsarchitektur bis zur Technologie.</p>
    <br>
    <h2 class="text-subhead-accordion max-w-[32ch] text-purple mix-blend-color-burn">Design</h2>
    <p class="text-lead-1 text-[2.8rem] max-w-[32ch] text-purple mix-blend-color-burn">Im Designprozess verleihen wir Ihrer Marke eine einzigartige visuelle Identität und sorgen dafür, dass Ihre Website nicht nur gut aussieht, sondern auch reibungslos interagiert.</p>
    <br>
    <h2 class="text-subhead-accordion max-w-[32ch] text-purple mix-blend-color-burn">Plan</h2>
    <p class="text-lead-1 text-[2.8rem] max-w-[32ch] text-purple mix-blend-color-burn">Schließlich setzen wir moderne Technologien ein, um Ihre Website zu entwickeln und bieten flexible Lösungen für Hosting und Servermanagement. Unser Ansatz ist modular und auf Ihre individuellen Bedürfnisse zugeschnitten.</p>
    <br>
    <h2 class="text-subhead-accordion max-w-[32ch] text-purple mix-blend-color-burn">Implementation</h2>
    <p class="text-lead-1 text-[2.8rem] max-w-[32ch] text-purple mix-blend-color-burn">Willkommen bei unserem Berliner Studio für handgemachtes digitales Design – wir leben für die Kunst des Webdesigns."</p>
{{ /partial:layout/section }}
<!-- End: sections/info.antlers.html -->