{{#
    @name Section info
    @desc a section wrapped in the main element from pages/info.antlers.html
#}}

<!-- sections/info.antlers.html -->
{{ partial:layout/section anchor="services" class="flex flex-col w-full gap-frame-2 lg:gap-frame py-frame" }}

   <h2 class="w-full text-center text-head-1 text-usercolor mix-blend-color-burn translate-z-0">How we work</h2>

   {{# very ugly but efficient tailwind selector: creating left right layout #}}
   <div class="[&>*:nth-child(even)>*:nth-child(odd)]:sm:order-1 
               [&>*:nth-child(even)>video]:sm:object-right
               [&>*:nth-child(odd)>video]:sm:object-left 
               [&>*:nth-child(odd)]:sm:pr-0
               [&>*:nth-child(even)]:sm:pl-0">
      
      {{ collection:infos sort="order" }}
         <div class="sm:grid w-full sm:min-h-screen sm:grid-cols-[1fr_1fr] gap-frame-2 lg:gap-frame-3 p-frame xs:p-frame-4 sm:p-frame mix-blend-color-burn flex flex-col-reverse mb-8 sm:mb-0">
      
            {{# text #}}
            <div class="flex flex-col justify-center h-full mx-auto sm:min-w-[48ch]">
               <h2 class="mb-4 font-bold text-lead-0 text-usercolor">{{ title }}</h2>
               {{ partial:components/modaltext :handle="teaser" as="h3" class="text-lead-1 max-w-[30ch]" }}
            </div>
            
               
            {{# smaller animations name – ratio 8/11 or ratio 3/2 #}}
            {{ smallAnimation = animation | replace ('11x8', '3x2') }}
               
            {{# two animations based on screen size #}}
            <video width="100%" height="100%" data-video="{{ animation }}" data-video-small="{{ smallAnimation }}" autoplay loop muted class="relative object-cover transition duration-1000 mix-blend-color-burn sm:h-full">

         </div>
      
      {{ /collection:infos }}
   </div>
   
{{ /partial:layout/section }}