<!-- Slider main container -->
<div class="h-screen swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img class="max-w-[70vw]" src="https://picsum.photos/1600/900" alt="">
    </div>
    <div class="swiper-slide">
      <img class="max-w-[70vw]" src="https://picsum.photos/1600/900" alt="">
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>