{{#
    @name Section 1
    @desc a section wrapped in the main element from pages/home.antlers.html
#}}

<!-- sections/section_1.antlers.html -->
{{ partial:layout/section class="border-4 lg:pt-frame-3" attr="data-section-1" }}


    {{# main content grid #}}
    <div class="relative grid items-start w-full grid-cols-1 gap-24 lg:gap-8 lg:grid lg:grid-cols-2 p-frame">
        
        {{# sticky header wrapper #}}
        <div id="info-title" class="sticky -mb-[25vh] flex flex-col gap-4 lg:-translate-y-1/2 lg:top-1/2">
        
            {{# tag wrapper #}}
            {{ partial:components/tags }}
                {{ s1_tags }}
                    {{ partial:components/tag class="{{ color }}" text="{{ title }}" url="/" }}
                {{ /s1_tags }}
            {{ /partial:components/tags }}
            
            {{# Headline #}}
            <h2 data-type="headline-obs" class="w-[12ch] mb-8 text-head-1">
                {{ s1_title }}
            </h2>

            {{# Crowd Pleaser #}}
            <div id="crowdpleaser" class="flex-col self-start hidden uppercase translate-y-2 pointer-events-auto sm:flex right-frame bottom-frame text-small-1">
                
                <div id="cp_headline" class="flex items-center w-full h-6 duration-500 motion-safe:transition">Crowd Pleaser</div>
                
                <div id="cp_slider_1" class="flex items-center justify-between w-full h-6 gap-4 duration-500 motion-safe:transition group">
                    <label id="cp_slider_1_label" for="cp_slider_1_input" class="block motion-safe:transition text-small-1 group-hover:text-yellow">Colors</label>
                    <input id="cp_slider_1_input" type="range" min="1" max="5" value="3">
                </div>
                
                <div id="cp_slider_2" class="flex items-center justify-between w-full h-6 gap-4 font-mono duration-500 motion-safe:transition group">
                    <label id="cp_slider_2_label" for="cp_slider_2_input" class="block motion-safe:transition text-small-1 group-hover:text-yellow">Pattern</label>
                    <input id="cp_slider_2_input" type="range" value="50">
                </div>
            </div>
        </div>

        <ul class="">
            <li class="mb-20">
                <h2>header</h2>
                <p class="text-lead-1">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas debitis itaque maxime fugit eveniet adipisci odio quia porro aliquam, amet delectus? Dolor ipsam facilis consequuntur quidem velit, eligendi ex fuga?
                </p>
            </li>
            <li class="mb-20">
                <h2>header</h2>
                <p class="text-lead-1">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas debitis itaque maxime fugit eveniet adipisci odio quia porro aliquam, amet delectus? Dolor ipsam facilis consequuntur quidem velit, eligendi ex fuga?
                </p>
            </li>
            <li class="mb-20">
                <h2>header</h2>
                <p class="text-lead-1">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas debitis itaque maxime fugit eveniet adipisci odio quia porro aliquam, amet delectus? Dolor ipsam facilis consequuntur quidem velit, eligendi ex fuga?
                </p>
            </li>
            <li class="mb-20">
                <h2>header</h2>
                <p class="text-lead-1">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas debitis itaque maxime fugit eveniet adipisci odio quia porro aliquam, amet delectus? Dolor ipsam facilis consequuntur quidem velit, eligendi ex fuga?
                </p>
            </li>
        </ul>

       
    </div>

{{ /partial:layout/section }}
<!-- End: sections/section_1.antlers.html -->