{{ wrk = { collection:work } }} {{ vids = wrk | pluck:video }}

<section class="h-screen snap-start">
    <!-- Swiper -->
    <div class="w-full h-full swiper text-red mySwiper">
        <div class="swiper-wrapper">
            {{ collection:work}}
              <div class="swiper-slide">
                  slide {{index}} 
                  {{ video }}
                    <video src="{{url}}"></video>
                  {{ /video }}
              </div>
            {{ /collection:work}}
        </div>
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        {{#
        <div class="swiper-scrollbar"></div>
        #}}
    </div>
</section>
