{{#
    @name Section 3
    @desc a section wrapped in the main element from pages/home.antlers.html
#}}

<!-- sections/section_3.antlers.html -->
{{ partial:layout/section }}

    {{# main content grid #}}
    <div class="relative grid items-center w-full h-full">

        {{# line #}}
        {{# <div class="absolute h-0.5 -left-[var(--frame)] -right-[var(--frame)] bg-light "></div> #}}

        <div class="relative top-[10%] flex flex-col gap-4 left-1/2">

            {{# tag wrapper #}}
            {{ partial:components/tags }}
                {{ partial:components/tag text="Webflow" url="/" class="bg-green" }}
                {{ partial:components/tag text="Statamic" url="/" class="bg-purple" }}
                {{ partial:components/tag text="Hibedibu" url="/" class="bg-red" }}
            {{ /partial:components/tags }}
            
            <p class="text-lead-1">
                Togehter we develop the right concept to fullfill your users and your needs and get your message across. The right idea and the right strategy to make it happen.
            </p>

        </div>

        {{# Headline #}}
        <h2 class="absolute left-0 text-left bottom-24">
            pixel perfect design
        </h2>
    </div>

{{ /partial:layout/section }}
<!-- End: sections/section_3.antlers.html -->
