{{#
    @name Section 1
    @desc a section wrapped in the main element from pages/home.antlers.html
#}}

<!-- sections/section_1.antlers.html -->
    
    <div class="absolute inset-0 grid-cols-4 grid-rows-4">
        {{# <div id="rec1" class="h-1/2 aspect-square bg-red"></div>
        <div id="rec1" class="h-1/2 aspect-square bg-red"></div>
        <div id="rec1" class="h-1/2 aspect-square bg-red"></div>
        <div id="rec1" class="h-1/2 aspect-square bg-red"></div> #}}
    </div>

<!-- End: sections/section_1.antlers.html -->