{{#
    @name Section 2
    @desc a section wrapped in the main element from pages/home.antlers.html
#}}

<!-- sections/section_2.antlers.html -->
{{ partial:layout/section }}

    {{# main content grid #}}
    <div data-content class="grid items-center w-full h-full grid-cols-1 gap-8 transition-all duration-700 bg-red/20 lg:grid lg:grid-cols-2 p-frame">

        <div class="flex flex-col gap-4">
            
            {{# tag wrapper #}}
            {{ partial:components/tags }}
                {{ partial:components/tag text="Webflow" url="/" class="bg-green" }}
                {{ partial:components/tag text="Statamic" url="/" class="bg-purple" }}
                {{ partial:components/tag text="Hibedibu" url="/" class="bg-red" }}
            {{ /partial:components/tags }}
            
            <p class="text-lead-1">
                Togehter we develop the right concept to fullfill your users and your needs and get your message across. The right idea and the right strategy to make it happen.
            </>

        </div>

        {{# Headline #}}
        <h2 class="absolute left-frame text-left bottom-[calc(6rem+var(--frame))]">
            pixel perfect design
        </h2>
    </div>

{{ /partial:layout/section }}
<!-- End: sections/section_2.antlers.html -->
