{{#
    @name Section teaser
    @desc a section wrapped in the main element from pages/teaser.antlers.html
#}}

<!-- sections/teaser.antlers.html -->
{{ partial:layout/section class="flex-col justify-center min-h-screen gap-6 py-32 items-left p-frame sm:p-frame-3" }}
   
   {{ partial:components/modaltext :handle="teaser" as="h2" class="text-lead-0" }}
      {{# inital text with love counter #}}
      We're a studio for artisan digital design from Berlin with
      {{ partial:components/button cssid="love" type='' as="button" class="inline-flex text-usercolor hover:text-green -top-0.5" label="love" }}
      .
   {{ /partial:components/modaltext }}

{{ /partial:layout/section }}
<!-- End: sections/teaser.antlers.html -->