{{#
    @name Section info
    @desc a section wrapped in the main element from pages/info.antlers.html
#}}

<!-- sections/info.antlers.html -->
{{ partial:layout/section class="flex-col justify-center min-h-screen gap-6 pt-frame-6 sm:pt-frame-3 items-left mix-blend-color-burn translate-z-0" }}

    <div class="break-words p-frame sm:p-frame-3 hyphens-auto text-usercolor">
        {{ partial:typography/prose as="article" class="contents" }}
            {{ article }}
                {{ partial src="components/{type}" }}
            {{ /article }}
        {{ /partial:typography/prose }}
    </div>

{{ /partial:layout/section }}
{{ partial:layout/footer }}

<!-- End: sections/info.antlers.html -->