{{#
    @name Section info
    @desc a section wrapped in the main element from pages/info.antlers.html
#}}

<!-- sections/info.antlers.html -->
{{ partial:layout/section class="flex-col justify-center min-h-screen gap-6 items-left" }}

    <div class="p-frame sm:p-frame-3 text-dark mix-blend-color-burn">
        {{ partial:typography/prose as="article" class="contents" }}
            {{ article }}
                {{ partial src="components/{type}" }}
            {{ /article }}
        {{ /partial:typography/prose }}
    </div>

    {{ partial:layout/footer }}
{{ /partial:layout/section }}
<!-- End: sections/info.antlers.html -->