{{#
    @name contact form
    @desc The sites contact modal rendered on each page.
#}}

<!-- /layout/_contact_form.antlers.html -->

{{# from outer wrapper #}}
<form 
    id="contact-from" class="block"
    aria-label="contact form" 
    @submit.prevent="console.log('Submitted Form!!!')">

    {{# form inner wrapper #}}
    <div class="relative flex w-full h-full">
    
        {{# loop through all form slides #}}
        {{ contact_form:form_slides }}
            {{# single form slide  #}}
            <div x-transition.duration.500ms class="absolute inset-0 flex flex-col w-full h-full gap-10" x-cloak x-show="formStep === {{ index + 1 }}">
                
                {{# optional slide headline #}}
                <h2 class="text-dark">{{ headline }}</h2>
                
                {{# optional slide description #}}
                <p class="text-dark">{{ description }}</p>

                {{# loop through all form elements #}}
                {{ form_elements }}
                    {{ partial:form/{type} }}
                {{ /form_elements }}
            </div>
        {{ /contact_form:form_slides }}

        {{# form buttons #}}
        <div class="flex flex-col items-center gap-4 bottom-frame">
            
            {{# submit #}}
            {{ partial:components/button class="text-dark hover:text-purple mb-frame-1/2" label="Let's go" big="true" icon="arrup"}}
                x-show="formStep === {{ contact_form:form_slides | count }}"
                type="submit"
                x-transition:enter.delay.500ms
            {{ /partial:components/button }}

            <div class="flex gap-4">
                {{# back #}}
                {{ partial:components/button class="hover:text-dark" label="back" }}
                    :class="formStep != 1 ? '' : 'opacity-30 pointer-events-none' "
                    @click.prevent="formStep--"
                {{ /partial:components/button }}

                {{# next #}}
                {{ partial:components/button class="hover:text-dark" label="next" }}
                    :class="formStep != {{ contact_form:form_slides | count }} ? '' : 'opacity-30 pointer-events-none' "
                    @click.prevent="formStep++"
                {{ /partial:components/button }}
            </div>
        </div>
    </div>
</form>
<!-- End: /layout/_contact_form.antlers.html -->
