{{#
    @name input
    @desc form element for form builder
#}}

<!-- /form/_input.antlers.html -->
{{ if input_type == 'Line' }}
    <input name="{{ description }}" type='text' class="relative border-0 border-b-2 border-dark text-dark text-input focus:border-yellow focus:!ring-0" placeholder="{{set_placeholder}}"></input>
{{ else }}
    <textarea name="{{ description }}" class="border-2 border-dark text-dark text-input focus:border-yellow focus:!ring-0" placeholder="{{set_placeholder}}"></textarea>
{{ /if }}
<!-- End: /form/_input.antlers.html -->
