{{#
    @name Home
    @desc The home template with an outer wrapper
#}}

<!-- pages/home.antlers.html -->

{{# scroll container #}}
<main id="scroll-container" class="relative z-10 w-full h-screen overflow-scroll">
    {{# {{ partial:sections/section_0 }}
    {{ partial:sections/section_1 }}
    {{ partial:sections/section_2 }}
    {{ partial:sections/section_2 }} #}}

    <section class="min-h-[500vh] bg-green">
        <div class="w-full h-screen bg-light-gray"></div>
        <div data-section-1  class="h-screen bg-dark">
            <div class="w-20 h-20 bg-red" data-test ></div>

        </div>
    </section>
</main>
<!-- End: pages/home.antlers.html -->